.box {
	background-color: var(--secondary-textcolor);
	padding: 0.7rem 0.5rem;
	position: fixed;
	bottom: 0px;
	right: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-out;
}

.box img {
	width: 70%;
}

.hideArrow {
	bottom: -70px;
}
