.container {
	width: 78%;
	margin-top: 1rem;
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
}

.headingMain {
	font-size: var(--main-heading);
	font-weight: 300;
	color: var(--primary-textcolor);
}

.headingSmall {
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--secondary-textcolor);
	margin-top: 1rem;
}

@media screen and (max-width: 1300px) {
	.container {
		width: 90%;
	}

	.headingMain {
		color: var(--primary-textcolor);
	}
	.headerSecondRow {
		margin-left: 0rem;
	}
}
