.container {
	font-size: 1rem;
	font-weight: 500;
	width: 100vw;
	margin-bottom: 0;
}

.navbarList {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbarList li {
	color: var(--secondary-textcolor);
	font-size: 1.25rem;
	font-weight: 500;
	list-style: none;
	margin: 0 3rem;
}

.navbarList li:hover {
	cursor: pointer;
}

.logo {
	font-size: 2rem;

	color: var(--secondary-textcolor);
}
