.container {
	width: 70%;
	margin-top: 9rem;
}

.containerHeadings {
	margin: 0;
}
.containerHeadings h2 {
	font-size: 3rem;
}

.containerHeadings h4 {
	font-size: 1rem;
	font-weight: 400;
	margin-left: 2rem;
	color: var(--secondary-textcolor);
}
