.container {
	width: 48%;
	margin-top: 1.5rem;
}

.container:hover {
	cursor: pointer;
}

.textContainer {
	background-color: var(--secondery-textcolor);
	padding: 1rem 1rem;
}

.textContainer h2 {
	font-size: 1.5rem;
	font-weight: 500;
}
.textContainer h3 {
	font-size: 1rem;
	font-weight: 400;
}

.textContainer p {
	font-weight: 300;
}
.textContainer ul {
	list-style: none;
	display: flex;
	margin-top: 1rem;
	padding: 0;
}
.textContainer ul li {
	font-size: 0.75rem;
	margin-right: 1rem;
	color: var(--secondary-textcolor);
}

.linksContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cardLinks {
	font-size: 0.75rem;
	margin-right: 1rem;
	color: var(--secondary-textcolor);
}
