.container {
	margin-top: 9rem;
	width: 70%;
}

.containerHeadings {
	margin: 0;
}
.containerHeadings h2 {
	font-size: 1.5rem;
	font-weight: 500;
}

.containerHeadings h4 {
	font-size: 1rem;
	font-weight: 400;
	margin-left: 2rem;
	color: var(--secondary-textcolor);
}

.musicContainer {
	display: flex;
}

.embededContainer {
	padding: 3rem;
	width: 48%;
}

.textConteiner h3 {
	margin: 0.5rem 0 0 0;
	font-size: 1.5rem;
	color: var(--primary-textcolor);
	font-weight: 500;
}
.textConteiner h4 {
	font-size: 1rem;
	color: var(--primary-textcolor);
	font-weight: 400;
}

.textContainer p {
	font-weight: 300;
	color: var(--primary-textcolor);
}
