.container {
	margin-top: 9rem;
	width: 80%;
}

.containerHeadings {
	margin: 0;
}
.containerHeadings h2 {
	font-size: 3rem;
	color: var(--primary-textcolor);
}
.containerHeadings h3 {
	font-size: 1.5rem;
	font-weight: 500;
}

.containerHeadings h4 {
	font-size: 1rem;
	font-weight: 400;
	margin-left: 2rem;
	color: var(--secondary-textcolor);
}

.musicContainer {
	display: flex;
	width: 100%;
}

.embededContainer {
	padding: 2rem;
	width: 48%;
}

.textConteiner h3 {
	margin: 0.5rem 0 0 0;
	font-size: 1.5rem;
	color: var(--primary-textcolor);
	font-weight: 500;
}
.textConteiner h4 {
	font-size: 1rem;
	color: var(--primary-textcolor);
	font-weight: 400;
}

.textContainer p {
	font-weight: 300;
	color: var(--primary-textcolor);
}

@media screen and (max-width: 1080px) {
	.musicContainer {
		flex-direction: column;
		align-items: center;
	}

	.embededContainer {
		width: 80%;
	}
}

@media screen and (max-width: 700px) {
	.musicContainer {
		flex-direction: column;
		align-items: center;
	}

	.embededContainer {
		padding: 1rem;
		width: 100%;
	}
}
