.container {
	/* margin-left: 25%; */
	width: 70%;
	padding-top: 4rem;
}

.containerHeadings {
	margin: 0;
}
.containerHeadings h2 {
	font-size: 3rem;
	color: var(--primary-textcolor);
}

.containerHeadings h4 {
	font-size: 1rem;
	font-weight: 400;
	margin-left: 2rem;
	color: var(--secondary-textcolor);
}

.card {
	font-size: 1rem;
	color: var(--primary-textcolor);
	padding: 2rem 1rem;
	display: flex;
	align-items: center;

	margin-top: 1rem;
}

.paragraph {
	font-weight: 300;
}

.paragraph h4 {
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: 500;
}

.PortfolioPic {
	border-radius: 50%;
	width: 23%;
	margin-right: 3rem;
}

.contactList {
	padding: 0;
	margin: 1rem 0 2rem 0;
	display: flex;
}

.contactList li {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0.25rem 1.25rem 0 0;
	text-decoration: underline;
}

.contactList li img {
	width: 1rem;
	margin-right: 0.5rem;
}

.emphasize {
	font-weight: 500;
}
